# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.env
.venv
env/
venv/

# Jupyter notebooks
.ipynb_checkpoints

# Testing and coverage
.pytest_cache/
.mypy_cache/
.dmypy.json
.cache
.coverage
coverage.xml

# Logs
*.log

# Build artifacts
build/
dist/
*.egg-info/
*.egg

# Project-specific
deprecated/
data/raw/
results/
plots/
*.tex
todo.md
notebooks/results/

# IDE and editor junk
.vscode/
.idea/
