numpy
pandas
scipy
scikit-learn
matplotlib
seaborn
plotly
ipython
jupyter
umap-learn
kneed
hdbscan
k-means-constrained
git+https://github.com/Behrouz-Babaki/COP-Kmeans.git
clustpy
perception_nassir
nltk
wordcloud
torch 
torchvision
